# -------------------------
# Python
# -------------------------
_pycache_/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
.env.*

# -------------------------
# Python tools
# -------------------------
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# -------------------------
# IDEs / Editors
# -------------------------
.vscode/
.idea/
*.iml

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Database files (SQLite)
# -------------------------
*.db
*.sqlite
*.sqlite3

# -------------------------
# Docker
# -------------------------
*.tar

# -------------------------
# Kubernetes / Helm
# -------------------------
*.tgz
charts/

# -------------------------
# Logs
# -------------------------
logs/
*.out

# -------------------------
# Secrets (VERY IMPORTANT)
# -------------------------
secrets/
*.pem
*.key
*.crt

# -------------------------
# Build / cache
# -------------------------
dist/
build/
.eggs/
*.egg-info/

# -------------------------
# Redis dump (if any)
# -------------------------
dump.rdb